@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import "index.css";



/************light mode************/

.complete-conversionsl{
     background: #fff;
     min-height: 100vh;
     overflow: hidden;
}

.converter-containerl {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 5px solid #4d4dff;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }


  
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  select, input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  .result-container {
    margin-top: 20px;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  p {
    margin: 0;
    font-size: 16px;
  }



  /************night mode************/


   .complete-conversionsd{
     background: #25273f;
     min-height: 100vh;
     overflow: hidden;
}

    .converter-containerd {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: #333d82;
    border: 5px solid #fadb69;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* border: 5px solid #f4c415; */
  }