@import "index.css";

html, body {
    height: 100%;
    margin: 0;
    z-index: 1;
  }
  /* Full height container */
  .full-heightl {
     min-height: 100vh;
     /* background: #fff; */
     /* background-image: url('../images/background.jpg') no repeat;
     background-size: cover; */
     max-height: fit-content;
     /* padding: 1rem; */
     /* display: flex; */
  }

  .full-heightd{
    min-height: 100vh;
    background: #25273f;
    
  }

  .upper{
       height: 60%;
  }

  .lower{
     height: 40%;
  }

.table-card1 {
  width: 90%;
  margin-top: 10%;
  margin-left: 15%;
  height: fit-content;
  max-height: 75vh;
  overflow: auto;
  max-width: 80%;
}
.avatar.sm {
  width: 2.25rem;
  height: 2.25rem;
  font-size: 0.818125rem;
}
.table-nowrap .table td,
.table-nowrap .table th {
  white-space: nowrap;
}
.table > :not(caption) > * > * {
  padding: 0.75rem 1.25rem;
  border-bottom-width: 1px;
}
table th {
  font-weight: 600;
  outline: none;
}

@media only screen and (max-width: 800px) {
  .hides {
    display: none;
  }
}
