@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import "index.css";

.button-box-detail {
  padding-left: 10%;
  bottom: 7px;
  position: relative;
}

.innercontainerformemberlist {
  padding-left: 8%;
  padding-top: 50px;
}



.right {
  padding-right: 0;
  /* padding-top: 10%; */
  display: flex;
}

.left {
  padding-top: 10%;
  padding-left: 5% !important;
  width: 700px;
  width: 100%;
}



.wrap1{
  padding-left: 0;
  /* background: green; */
}


/* .wrap2{
    margin-left: 200px;
    /* background: green; */
/* }  */

.left-side{
  text-align: center;
  justify-content: center;
  display: flex;
  padding-top: 7%;
}

.fixed-description {
  position: fixed;
  
  z-index: 1;
 
}

.fixed-members{
  position: fixed; 
}

.left-card{
  width: 600px;
  height: 200px;
  z-index: 2;
  border: none;
}





.userList{
  display: flex;
  max-width: 450.67;
}


/************light mode************/

.complete-decriptionl
{
  min-height: 100vh;
  background: #fff;
}

li.singleUserl{
  height: 33%;
}

.card-membersl{
  width: 500px;
  height: 290px;
  margin-top: 18%;
  border: none;
  z-index: 2;
  background: #fff;
}

.card-squarel {
  border: none;
  text-align: center;
  position: fixed;
  background: #fff;
}

.headingl {
  display: flex;
}

.speechl::after {
  content: "";
  border: 20px solid transparent;
  
  position: absolute;
}

.speech1l::after {
  content: "";
  border: 20px solid transparent;

  position: absolute;
}

.bgroupdetailsl {
  width: 250px;
  background-color: #4d4dff;
  border: none;
  outline: none;
  height: 35px;
  border-radius: 49px;
  color: #fff;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  justify-content: center;
  display: flex;
}

.bgroupdetailsl:hover {
  background-color: #4d4dff;
  color: #fff;
}



.headingl i {
  font-size: 50px;
  margin-right: 15px;
  margin-left: 10px;
  color: #4d4dff;
}


.speechl {
  font-size: 1.1em;

  color: black;
  background: #fff;
  border: 5px solid #4d4dff;

  position: relative;
  padding: 20px;
  border-radius: 10px;
  margin-left: 50px auto;
  max-width: 500px;
  box-shadow: 5px 10px #d3c8df;
}

.speech1l {
  font-size: 1.1em;
  background: #fff;
  color: black;

  border: 5px solid #4d4dff;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 20px;
  border-radius: 10px;
  margin-left: 50px auto;
  max-width: 800px;
  box-shadow: 5px 10px #d3c8df;
  height: 150px;
  
}



.topl.speechl::after {
  border-bottom-color: #4d4dff;
  border-top: 0;

  top: -20px;
  left: 50%;
  margin-left: -20px;
}

.topl.speech1l::after {
  border-bottom-color: #4d4dff;
  border-top: 0;

  top: -20px;
  left: 10%;
  margin-left: -20px;
}



li.singleUserl{
  font-size: 15px;
  list-style-type: none;
  max-width:fit-content;
  border-radius: 40px;
  background: #acacac70;
  text-align: center;
  justify-content: center;
  display: flex;
  padding-right: 8px;
  height: max-content;
  padding-top: 7px;
  margin-right: 5px;
  padding-left: 8px;
}

.remove-userl{
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  background: red;
  color: white;
  padding-right: 0;
  margin-top: 0px;
  /* padding-left: 2px; */
  margin-left: 7px;
  font-size: 20px;
  margin-bottom: 6px;
  cursor: pointer;
  padding: 2px;
}

.deleteUserl{
  border: none;
  background: #acacac19;
  border-radius: 40px;
}


/************dark mode***********/

.complete-decriptiond
{
  min-height: 100vh;
  background: #25273f;
}


li.singleUserd{
  height: 33%;
}

.card-membersd{
  width: 500px;
  height: 290px;
  border: none;
  margin-top: 18%;
  z-index: 2;
  background: #25273f
}

.card-squared {
  border: none;
  text-align: center;
  position: fixed;
  background: #25273f;
}

.headingd {
  display: flex;
}

.speechd::after {
  content: "";
  border: 20px solid transparent;

  position: absolute;
}

.speech1d::after {
  content: "";
  border: 20px solid transparent;

  position: absolute;
}

.bgroupdetailsd {
  width: 250px;
  background-color: #333d82;
  border: none;
  outline: none;
  height: 35px;
  border-radius: 49px;
  color: #fff;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  justify-content: center;
  display: flex;
}

.bgroupdetailsd:hover {
  background-color: #333d82;
  color: #fff;
}



.headingd i {
  font-size: 50px;
  margin-right: 15px;
  margin-left: 10px;
  color: #4d4dff;
}


.speechd {
  font-size: 1.1em;

  color: #fff;
  background: #333d82;
  border: 5px solid #fadb69;

  position: relative;
  padding: 20px;
  border-radius: 10px;
  margin-left: 50px auto;
  max-width: 500px;
  box-shadow: 5px 10px black;
}

.speech1d {
  font-size: 1.1em;

  color: #fff;
  background: #333d82;
  border: 5px solid #fadb69;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 20px;
  border-radius: 10px;
  margin-left: 50px auto;
  max-width: 320px;
  box-shadow: 5px 10px black;
  height: 150px;
  max-width: 800px;
}



.topd.speechd::after {
  border-bottom-color: #fadb69;
  border-top: 0;

  top: -20px;
  left: 50%;
  margin-left: -20px;
}

.topd.speech1d::after {
  border-bottom-color: #fadb69;
  border-top: 0;

  top: -20px;
  left: 10%;
  margin-left: -20px;
}



li.singleUserd{
  font-size: 15px;
  list-style-type: none;
  max-width:fit-content;
  height: max-content;
  border-radius: 40px;
  background: #acacac70;
  text-align: center;
  justify-content: center;
  display: flex;
  padding-right: 8px;
  padding-top: 7px;
  margin-right: 5px;
  padding-left: 8px;
}

.remove-userd{
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  background: red;
  color: white;
  padding-right: 0;
  margin-top: 0px;
  /* padding-left: 2px; */
  margin-left: 7px;
  font-size: 20px;
  margin-bottom: 6px;
  cursor: pointer;
  padding: 2px;
}

.deleteUserd{
  border: none;
  background: #acacac19;
  border-radius: 40px;
}



.table-card {
  width: 500px;
  margin-top: 10%;
  margin-left: 5%;
}
.avatar.sm {
  width: 2.25rem;
  height: 2.25rem;
  font-size: 0.818125rem;
}
.table-nowrap .table td,
.table-nowrap .table th {
  white-space: nowrap;
}
.table > :not(caption) > * > * {
  padding: 0.75rem 1.25rem;
  border-bottom-width: 1px;
}
table th {
  font-weight: 600;
  outline: none;
}

