@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import "index.css";

.img-box {
  height: 150px;
  text-align: center;
  justify-content: center;
}
.image-of-card {
  height: 175px;
}
div [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

.footer {
  display: flex;
}

.card-text {
  height: 20px;
  text-transform: capitalize;
}



p.card-text {
  text-align: center;
  margin-bottom: 20px !important;
  padding-bottom: 100px;
}

.footer {
  display: flex;
  justify-content: space-between;
}


/************light mode************/

.card-bottom2l {
  padding-right: 30px;
}


.card-bottom1l {
  padding-left: 30px;
}

.card-blockl {
  height: 370px;
}

.card-blockl::before {
  transform-origin: left top;
}
.card-blockl::after {
  transform-origin: right bottom;
}
.card-blockl:hover::before,
.card-blockl:hover::after,
.card-blockl:focus::before,
.card-blockl:focus::after {
  transform: scale3d(1, 1, 1);
}

.card-blockl {
  transition: 0.5s;
  cursor: pointer;
  border-radius: 50px;
  border: 5px solid #4d4dff;
  margin-left: 20px;
  margin-top: 20px;
}
.card-titlel {
  font-size: 22px;
  transition: 1s;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  color: black;
  text-transform: uppercase;
}
.card-bottom1l i,
.card-bottom2l i {
  font-size: 27px;
  transition: 1s;
  cursor: pointer;
  color: #fff;
  background-color: #4d4dff;
  border-radius: 50%;
  position: relative;
}
.card-bottom1l i:hover,
.card-bottom2l i:hover {
  transform: scale(1.25) rotate(100deg);
  color: #fff;
}
.card-blockl:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card-blockl::before,
.card-blockl::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: "";
  pointer-events: none;
}

/************night mode************/

.card-bottom2d {
  padding-right: 30px;
}

.card-bottom1d {
  padding-left: 30px;
}

.card-blockd {
  height: 370px;
}

.card-blockd::before {
  transform-origin: left top;
}
.card-blockd::after {
  transform-origin: right bottom;
}
.card-blockd:hover::before,
.card-blockd:hover::after,
.card-blockd:focus::before,
.card-blockd:focus::after {
  transform: scale3d(1, 1, 1);
}

.card-blockd {
  transition: 0.5s;
  cursor: pointer;
  border-radius: 50px;
  border: 5px solid #fadb69;
  margin-left: 20px;
  margin-top: 20px;
  background: #333d82;
}
.card-titled {
  font-size: 22px;
  transition: 1s;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  color: #fff;
  text-transform: uppercase;
}
.card-bottom1d i,
.card-bottom2d i {
  font-size: 27px;
  transition: 1s;
  cursor: pointer;
  color: #fadb69;
  background-color: #333d82;
  border-radius: 50%;
  position: relative;
}
.card-bottom1d i:hover,
.card-bottom2d i:hover {
  transform: scale(1.25) rotate(100deg);
  color: #fadb69;
}
.card-blockd:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card-blockd::before,
.card-blockd::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  background: #47576c13;
  content: "";
  pointer-events: none;
}


.complete{
  min-height: 100vh;
}