@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body,
input {
  font-family: "Poppins", sans-serif;
}

.bgroupdetails {
  width: 250px;
  background-color: #4d4dff;
  border: none;
  outline: none;
  height: 35px;
  border-radius: 49px;
  color: #fff;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  justify-content: center;
  display: flex;
}

.bgroupdetails:hover {
  background-color: #4d4dff;
  color: #fff;
}

.button-box-detail {
  padding-left: 10%;
  bottom: 7px;
  position: relative;
}

.innercontainerformemberlist {
  padding-left: 8%;
  padding-top: 50px;
}

.heading {
  display: flex;
}

.heading i {
  font-size: 50px;
  margin-right: 15px;
  margin-left: 10px;
  color: #4d4dff;
}

.right {
  padding-right: 0;
  /* padding-top: 10%; */
  display: flex;
}

.left {
  padding-top: 10%;
  padding-left: 5% !important;
  width: 700px;
  width: 100%;
}

.card-square {
  border: none;
  text-align: center;
  position: fixed;
}

.speech {
  font-size: 1.1em;

  color: black;

  border: 5px solid #4d4dff;

  position: relative;
  padding: 20px;
  border-radius: 10px;
  margin-left: 50px auto;
  max-width: 320px;
  box-shadow: 5px 10px #d3c8df;
}

.speech1 {
  font-size: 1.1em;

  color: black;

  border: 5px solid #4d4dff;

  position: relative;
  padding: 20px;
  border-radius: 10px;
  margin-left: 50px auto;
  max-width: 320px;
  box-shadow: 5px 10px #d3c8df;
  height: 150px;
  max-width: 800px;
}

.speech::after {
  content: "";
  border: 20px solid transparent;

  position: absolute;
}

.speech1::after {
  content: "";
  border: 20px solid transparent;

  position: absolute;
}


.top.speech::after {
  border-bottom-color: #4d4dff;
  border-top: 0;

  top: -20px;
  left: 50%;
  margin-left: -20px;
}

.top.speech1::after {
  border-bottom-color: #4d4dff;
  border-top: 0;

  top: -20px;
  left: 10%;
  margin-left: -20px;
}

.wrap{
    padding-left: 200px;
}

.left-side{
  text-align: center;
  justify-content: center;
  display: flex;
  padding-top: 7%;
}

.fixed-description {
  position: fixed;
  top: 30%;
  left: 50%;
  z-index: 1;
  width: 44.7%;
}

.fixed-members{
  position: fixed;
  top: 30%;
  left: 10%;
}

.left-card{
  width: 600px;
  height: 200px;
  z-index: 2;
  border: none;
}

.wrap-for-members{
  padding-left: 0;
}

.card-members{
  width: 500px;
  height: 290px;
  border: none;
  z-index: 2;
}

.userList{
  display: flex;
  max-width: 450.67;
}

li.singleUser{
  font-size: 15px;
  list-style-type: none;
  max-width:200px;
  border-radius: 40px;
  background: #acacac70;
  text-align: center;
  justify-content: center;
  display: flex;
  padding-right: 5px;
  padding-top: 7px;
  margin-right: 5px;
  padding-left: 5px;
}

.remove-user{
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  background: red;
  color: white;
  padding-right: 0;
  margin-top: 0px;
  /* padding-left: 2px; */
  margin-left: 4px;
  font-size: 20px;
  margin-bottom: 6px;
  cursor: pointer;
  padding: 2px;
}

.deleteUser{
  border: none;
  background: #acacac19;
  border-radius: 40px;
}


/* li .tooltip{
  position: relative;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
} */


