@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import "index.css";
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

.img-box {
  height: 150px;
  text-align: center;
  justify-content: center;
}
.image-of-card {
  height: 35vh;
  width: 120%;
}
div [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

.des{
  font-family: 'Handlee', cursive;
}

.footer {
  display: flex;
}

.card-text {
  height: 20px;
  text-transform: capitalize;
}

p.card-text{
 
}


p.card-text {
  text-align: center;
  margin-bottom: 20px !important;
  padding-bottom: 100px;
   margin-right: 10%;
   margin-left: 10%;
   font-size: 18px;
  
}

/* .carr{
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 30px;
} */

.footer {
  margin-top: 8vh;
  display: flex;
  justify-content: space-between;
}


/************light mode************/

.card-bottom2l {
  padding-right: 30px;
}


.card-bottom1l {
  padding-left: 30px;
}

.card-blockl {
    
}

.card-blockl::before {
  transform-origin: left top;
}
.card-blockl::after {
  transform-origin: right bottom;
}
.card-blockl:hover::before,
.card-blockl:hover::after,
.card-blockl:focus::before,
.card-blockl:focus::after {
  transform: scale3d(1, 1, 1);
}



.card-blockl {
  transition: 0.5s;
  cursor: pointer;
  border-radius: 50px;
  border:  5px solid #4d4dff;
  margin-left: 20px;
  margin-top: 20px;
  /* background-color: rgba(245, 216, 216, 0.267); */
   height: 50vh;
}
.card-titlel {
  font-size: 22px;
  transition: 1s;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  color: black;
  text-transform: uppercase;
}
.card-bottom1l i,
.card-bottom2l i {
  font-size: 27px;
  transition: 1s;
  cursor: pointer;
  color: #fff;
  background-color: #4d4dff;
  border-radius: 50%;
  position: relative;
}
.card-bottom1l i:hover,
.card-bottom2l i:hover {
  transform: scale(1.25) rotate(100deg);
  color: #fff;
}
.card-blockl:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card-blockl::before,
.card-blockl::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  background: rgba(255, 255, 0, 0);
  content: "";
  pointer-events: none;
}

/************night mode************/

.card-bottom2d {
  padding-right: 30px;
}

.card-bottom1d {
  padding-left: 30px;
}

.card-blockd {
  height: 62vh;
}

.card-blockd::before {
  transform-origin: left top;
}
.card-blockd::after {
  transform-origin: right bottom;
}
.card-blockd:hover::before,
.card-blockd:hover::after,
.card-blockd:focus::before,
.card-blockd:focus::after {
  transform: scale3d(1, 1, 1);
}

.card-blockd {
  transition: 0.5s;
  cursor: pointer;
  border-radius: 50px;
  border: 5px solid #fadb69;
  margin-left: 20px;
  margin-top: 20px;
  background: #333d82;
  height: 50vh;
}
.card-titled {
  font-size: 22px;
  transition: 1s;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  color: #fff;
  text-transform: uppercase;
}
.card-bottom1d i,
.card-bottom2d i {
  font-size: 27px;
  transition: 1s;
  cursor: pointer;
  color: #fadb69;
  background-color: #333d82;
  border-radius: 50%;
  position: relative;
}
.card-bottom1d i:hover,
.card-bottom2d i:hover {
  transform: scale(1.25) rotate(100deg);
  color: #fadb69;
}
.card-blockd:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card-blockd::before,
.card-blockd::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  background: #47576c13;
  content: "";
  pointer-events: none;
}


.complete{
  min-height: 100vh;
}