@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
/* @import "index.css"; */

.first {
  text-align: center;
  justify-content: center;
  padding-top: 10px;
}
.con {
  width: 10% !important;
}

.card-container {
  padding-left: 50px;
  margin-top: 0 !important;
}


/************ light mode *************/

.popUpBody1{
     background: #fff;
     color: balck;
     border: 5px solid #4d4dff;
     border-radius: 30px;
}


/* #root{
  background-image: url('../images/background.jpg') no repeat;
  padding: 1rem;
} */

.complete-groupl{
  background-color: #F4F7FD;
  /* background-image: url('../images/background.jpg') no repeat;
  padding: 1rem; */
}

.card-headingl h2{
  color: black;
}

.bgroupl {
  width: 150px;
  background-color: #4d4dff;
  border: none;
  outline: none;
  height: 35px;
  border-radius: 49px;
  color: #fff;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  justify-content: center;
  display: flex;
}

.bgroupl:hover {
  background-color: #4d4dff;
  color: #fff;
}

.form-control {
  border: 1px solid black;
}

/************ light mode *************/

.popUpBodyd{
     background: #25273f;
     color: #fff;
     border: 5px solid #fadb69;
     border-radius: 30px;
}



.complete-groupd{
  background-color: #25273f;
}

.card-headingd h2{
  color: #fff;
}

.bgroupd {
  width: 150px;
  background-color: #333d82;
  border: none;
  outline: none;
  height: 35px;
  border-radius: 49px;
  color: #fff;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  justify-content: center;
  display: flex;
}

.bgroupd:hover {
  background-color: #333d82;
  color: #fff;
}

.form-controld {
  border: 1px solid black;
}