@import url('https://fonts.googleapis.com/css2?family=Atma&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --primary-color1: #fff;
  --primary-color2: #acacac;
  --primary-color3: #aaa;
  --primary-color4: #333;
  --primary-color5: #4d4dff;
  --background-color : #25273f
}

.dark-theme-front {
  --primary-color1: #fff;
  --primary-color2: #acacac;
  --primary-color3: #aaa;
  --primary-color4: #333;
  --primary-color5: #1f255e;
}

body {
  font-family: 'Atma' !important;
}