@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import "index.css";


.plus-sign {
  font-size: 1.8em;
  margin-left: 5px;
  vertical-align: middle;
}

.navbar-collapse{
  display: flex;
}





/* light mode */
#neubarl {
  background: #4d4dff;
  box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.nav-iteml .activel {
  border-radius: 6px;
  background: linear-gradient(145deg, #4d4dbd, #3131c2);
  display: inline-block;
}
a.navbar-brandl {
  color: #454545;
}

#neubarl a {
  padding-left: 12px;
  padding-right: 12px;
  color: #fff;
}
/* 
li.nav-iteml{
  right: 0;
  position: absolute;
} */




/* night mode */
#neubard {
  background: #333d82;
  box-shadow: 4px 6px 12px #080808;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.nav-itemd .actived {
  border-radius: 6px;
  background: linear-gradient(145deg, #1f2863, #495497);
  display: inline-block;
}
a.navbar-brandd {
  color: #4545;
}

#neubard a {
  padding-left: 12px;
  padding-right: 12px;
  color: #fff;
}

/* li.nav-itemd{
  right: 0;
  position: absolute;
} */