@import "index.css";

.complete-transactionl{
    background: #fff;
    min-height: 100vh;
   
}

.complete-transactiond{
    background: #25273f;
    min-height: 100vh;
    
}



.close{
    margin-left: 60px;
}

.css-194a1fa-MuiSelect-select-MuiInputBase-input.css-194a1fa-MuiSelect-select-MuiInputBase-input.css-194a1fa-MuiSelect-select-MuiInputBase-input{
    padding-bottom: 20px;
}

.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon{
    top: calc(30% - 0.5em) !important;
}

.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar .MuiTablePagination-actions
{
    top: -10px;
    position: relative;
}


.css-jycsbp .MuiDataGrid-toolbarContainer .MuiButton-text{
    color: #4D4DFF;
}
.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar{
    color: #8289ee;
}

.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar .MuiTablePagination-actions{
    margin-top: 4vh;
}

.css-zylse7-MuiButtonBase-root-MuiIconButton-root.Mui-disabled{
  color: #8289ee;
}

.css-rtrcn9-MuiTablePagination-root .MuiTablePagination-input{
    margin-top: 3vh;
    
}

.css-zylse7-MuiButtonBase-root-MuiIconButton-root.Mui-disabled{
   color: #8289ee !important;
}

.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon{
    color: #8289ee !important;
}

.css-ptkaw2-MuiDataGrid-root .MuiDataGrid-columnHeader:focus, .css-ptkaw2-MuiDataGrid-root .MuiDataGrid-cell:focus{
    outline: none !important;
}

label[data-shrink=false]+.MuiInputBase-formControl .css-1x51dt5-MuiInputBase-input-MuiInput-input{
    background: #8289ee !important;
    
}
.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root{
    color: #fff;
    z-index: 999;
}